# Uploads to fileset. Requirements:
#   1. Specify `env.SITE` and `env.GOOGLE_CLOUD_PROJECT`.
#   2. Add a secret `GCP_SA_KEY`.
name: "Fileset upload"
on: [create, push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      GOOGLE_CLOUD_PROJECT: ""
      SITE: ""
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.GOOGLE_CLOUD_PROJECT }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Upload
        id: upload
        run: |-
          npx @blinkk/fileset upload \
            -s ${{ env.SITE }} \
            -b ${GITHUB_REF#refs/heads/} \
            -o upload.json \
            build
          echo "build-link=$(jq -r .links.buildLink upload.json)" >> $GITHUB_OUTPUT
          echo "dashboard-link=$(jq -r .links.dashboardLink upload.json)" >> $GITHUB_OUTPUT
          echo "staging-link=$(jq -r .links.stagingLink upload.json)" >> $GITHUB_OUTPUT
      - name: Comment
        uses: peter-evans/commit-comment@v2
        with:
          body: |
            **Staging Link:**
            ${{ steps.upload.outputs.staging-link }}
            - [Dashboard](${{ steps.upload.outputs.dashboard-link }})
            - [Build](${{ steps.upload.outputs.build-link }})
