@import ../utils/spacing
@import ../utils/type

.BuildPage__title
    +type-heading-1
    margin-bottom: $spacing-40

.BuildPage__content__table__title
    +type-heading-2
    margin-bottom: $spacing-20

.BuildPage__content__table + .BuildPage__content__table
    margin-top: $spacing-40

.BuildPage__content__table table
    border-collapse: collapse
    width: 100%

.BuildPage__content__table table thead th
    background: #F5F5F5
    border-bottom: 1px solid #E0E0E0
    padding: 5px 10px
    position: sticky
    text-align: left
    top: 0

.BuildPage__content__table table tr td
    padding: 5px 10px

.BuildPage__content__table table tr:hover td
    background: #F7F8F8

.BuildPage__content__table__empty
    margin-top: $spacing-20

.BuildPage__content__gitData
    align-items: center
    background: #F1F8FF
    border-radius: $spacing-10
    border: 1px solid #c8e1ff
    display: flex
    justify-content: space-between
    margin-bottom: $spacing-20
    padding: $spacing-15

.BuildPage__content__gitData__primary__author
    display: inline-block
    font-weight: 700
    margin-right: 5px

.BuildPage__tabset__bar
    display: flex
    border-bottom: 1px solid #EAECEF
    margin-bottom: $spacing-40

.BuildPage__tabset__bar__tab
    color: inherit
    padding: $spacing-15 $spacing-20
    border-bottom: 3px solid transparent
    font-weight: 700

    .material-icons-outlined
        margin-right: 7px
        color: #969DA4

    &--active
        border-bottom-color: $color-primary

        .material-icons-outlined
            color: #25292E

    &:hover
        border-bottom-color: $color-primary-hover