@import 'utils/color'
@import 'utils/type'

html,
body
    -webkit-font-smoothing: antialiased
    +font-family-default
    margin: 0
    padding: 0

html a
    color: $color-primary
    text-decoration: none
    font-weight: 600

html code
    font-size: 12px
    font-family: Monaco, monospace
    font-weight: 500
    padding: 1px 2px
    background: #F7FAFC
    border: 1px solid #E3E8EE
    border-radius: 4px

html .material-icons-outlined
    font-size: 17px
    margin-top: -4px
    vertical-align: middle