=font-family-default
    font-family: 'Nunito', sans-serif
    
=font-size($font-size, $line-height)
    font-size: $font-size
    line-height: $line-height

=type-logo
    +font-family-default
    +font-size(20px, 30px)
    font-weight: 600