<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Access denied</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDIuMDEgMTI0LjY5Ij48cGF0aCBkPSJNMTE0LjkxLDQ2LjM4YTUuNjYsNS42NiwwLDAsMC01LjE0LTMuMjhINzguNTRsMjAuOS0zMi44NWE1LjY2LDUuNjYsMCwwLDAtNC43OC04LjcxaC0zNGE1LjY3LDUuNjcsMCwwLDAtNC45MSwyLjgzTDE0LjE5LDc2LjE2YTUuNjYsNS42NiwwLDAsMCw0LjksOC41SDUzLjI0bC05LjM5LDM0LjQxYTUuNjcsNS42NywwLDAsMCwyLjg0LDYuNTEsNS41OSw1LjU5LDAsMCwwLDIuNjMuNjUsNS42OSw1LjY5LDAsMCwwLDQuMzQtMmwxMC43Ny0xMi44LDQ5LjY4LTU5QTUuNjYsNS42NiwwLDAsMCwxMTQuOTEsNDYuMzhaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTMuNDMgLTEuNTQpIiBzdHlsZT0iZmlsbDojZjJkMjNkIi8+PHBhdGggZD0iTTQ2LjY5LDEyNS41OGE1LjU5LDUuNTksMCwwLDAsMi42My42NSw1LjY5LDUuNjksMCwwLDAsNC4zNC0ybDEwLjc3LTEyLjhWMS41NEg2MC42NmE1LjY3LDUuNjcsMCwwLDAtNC45MSwyLjgzTDE0LjE5LDc2LjE2YTUuNjYsNS42NiwwLDAsMCw0LjksOC41SDUzLjI0bC05LjM5LDM0LjQxQTUuNjcsNS42NywwLDAsMCw0Ni42OSwxMjUuNThaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTMuNDMgLTEuNTQpIiBzdHlsZT0iZmlsbDojZWViZjAwIi8+PC9zdmc+">
<style>
    body {
        -webkit-font-smoothing: subpixel-antialiased;
        font-family: 'Nunito', sans-serif;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 100px;
        text-align: center;
    }
    p {
        font-size: 20px;
    }
</style>
<body>
<h1>Something went&nbsp;wrong</h1>
<p>You don't have access to this page.</p>
{% if me and me.emails %}
<p>You are signed in as: <b>{{me.emails[0].value}}</b>
{% endif %}